<div class="row" id="product-is-option-configure">
  <h2 class="product-title">Configure</h2>
  <div class="product_options">
    <% @product.product_options.each do |o| %>
      <div class="product_option">
        <fieldset>
          <input type="hidden" name="product_option_id" value="<%= o[:id] %>" />
          <legend><%=o[:display] %></legend>
          <dl>
            <dt><%=o[:display] %></dt>
          </dl>
          <ul>
            <% o[:options].each do |v| %>
              <li>
                <label>
                  <%= radio_button_tag "option_#{o[:display].downcase.gsub(/\s/, '_')}", v[:id], {:class => 'product_option'} %>
                  <strong><%= "#{v[:presentation]} - $#{v[:price]}" %></strong>
                  <input type="hidden" name="<%= "option_#{o[:display].downcase.gsub(/\s/, '_')}_price" %>" value="<%= "#{v[:price]}" %>" />
                </label>
              </li>
            <% end %>
          </ul>
        </fieldset>
      </div>
    <% end %>
  </div>
</div>
