<% unless @product.product_options.blank? %>
  <div class="row" id="product-is-option-configure">
    <h2 class="product-title">Configure</h2>
    <div class="product_options">
      <% @product.product_options.each do |o| %>
        <%
          optional_value = o[:options].select{ |opt| opt[:default_option] == true }
          optional_value_id = (!optional_value.empty?) ? optional_value.first : {}
        %>
        <div class="product_option">
          <fieldset>
            <input type="hidden" name="product_option_id" value="<%= o[:id] %>" />
            <legend><%=o[:display] %></legend>
            <dl>
              <dt><%=o[:display] %></dt>
            </dl>
            <ul>
              <% if o[:optional] %>
                <li>
                  <label>
                    <%= radio_button_tag "option_#{o[:display].downcase.gsub(/\s/, '_')}", "", (optional_value.empty? ? true : false), {:class => 'product_option'} %>
                    <strong>No <%=o[:display] %></strong>
                    <input type="hidden" name="<%= "option_#{o[:id]}_price" %>" value="0" />
                    <input type="hidden" name="<%= "option_#{o[:id]}_qty" %>" value="<%= "0" %>" />
                  </label>
                </li>
              <% end %>
              <% o[:options].each_with_index do |v,i| %>
                <li>
                  <label>
                    <%= radio_button_tag "option_#{o[:display].downcase.gsub(/\s/, '_')}", v[:id], (!optional_value.empty? && optional_value_id[:id] == v[:id]) || (!o[:optional] && optional_value.empty? && i == 0), {:class => 'product_option'} %>
                    <strong><%= "#{v[:presentation]}" %></strong> - <span><%= "#{Spree::Money.new(v[:price] || 0)}" %></span>
                    <input type="hidden" name="<%= "option_#{o[:id]}_price" %>" value="<%= "#{v[:price]}" %>" />
                    <input type="hidden" name="<%= "option_#{o[:id]}_qty" %>" value="<%= "#{v[:quantity]}" %>" />
                    <% p = Spree::Variant.find(v[:variant_id]).product %>
                    <%= link_to '', p, {:class => "icon_link with-tip icon-info-sign no-text" } %>
                  </label>
                </li>
              <% end %>
            </ul>
          </fieldset>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
