<div id="selected_options">
  <h3>Options</h3>
  <ul id="specs-list">
    <% @product.option_types.each do |o| %>
      <li id="selected_option_<%=o.id%>">
        <span>No <%=o.presentation %></span>
        <input type="hidden" id="product_option_<%=o.id%>" name="product_options[<%=o.id%>]">
        <input type="hidden" id="product_option_<%=o.id%>_price" class="product_option_prices" value="0">
        <input type="hidden" id="product_option_<%=o.id%>_quantity" class="product_option_quantities" value="0">
      </li>
    <% end %>
  </ul>
  <input type="hidden" id="base_price" value="<%= "#{@product.price_in(current_currency).amount}" %>" />
</div>